<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Mercado Liebre</title>
        <link rel="stylesheet" href="static/css/styles.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link rel="stylesheet"
href=" https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css ">
    </head>
    <body> 
        <header class="header">
        <div class="header-1">
            <div class="logo">                            
                <img src="static/images/logo-mercado-liebre.svg" class="logo-img">
            </div>
            <div class="serchbar">
                <input type="search" id="name" name="name" required
                    minlength="4" maxlength="15" size="20" value="Buscar productos, marcas">
                    <i class="fas fa-search"></i>                     
            </div>
            <div class="lema">
            <h2 class="lema-texto">
                <i class="fa fa-hand-holding-usd"></i>
                Compra en cuotas y sin tajeta de crédito
            </h2>
            </div>
            
        </div>
        <div class = "burger-menu">
            <i class = "fa fa-2x fa-bars burger" ></i>
        </div>
        <div class="header-2">            
            <ul class="navbar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="loginbar">
                <li><a href="/registro">Crea tu cuenta </a> <i class="fa fa-id-card"></i></li>
                <li><a href="/login">Ingresá </a><i class="fa fa-sign-in-alt"></i></li>
                <li><a href="#">Mis Compras </a><i class="fa fa-shopping-basket"></i></li>
            </ul>            
        </div>
       
    
    </header>
        <div class="banner">
            <img class="banner-img" src="static/images/img-home-banner.jpg" alt="">
            </div>
        
        <main>
            
            <div class="seccion">          
                <div class="seccion-titulo"><h2>Basado en tu última visita</h2></div>
                <div class="contenedor">
                    <div class="articulo">                    
                        <img class="articulo-imagen" src="static/images/img-cafetera-moulinex.jpg"> 
                        <div class="articulo-informacion">
                            <div class="articulo-logo-envio">
                                <i class="fa fa-truck"></i>
                             </div>                    
                             <div class="precios">$6.770</div>
                            <div class="descuentos">40% OFF</div>
                            <div class="descripcion">Cafetera Moulinex</div>                   
                        </div>
                    </div>
                
                    <div class="articulo">
                    <img class="articulo-imagen" src="static/images/img-macbook-pro-2019.jpg">
                    <div class="articulo-informacion">
                        <div class="articulo-logo-envio">
                            <i class="fa fa-truck"></i>
                        </div>
                        <div class="precios">$230.000</div>
                        <div class="descuentos">20% off</div>
                        <div class="descripcion">MacBook Pro 2019</div>                   
                    </div>
                    </div>
                
                    <div class="articulo">
                    <img class="articulo-imagen" src="static/images/img-samsung-galaxy-s10.jpg">
                    <div class="articulo-informacion">    
                        <div class="articulo-logo-envio">
                            <i class="fa fa-truck"></i>
                        </div>                   
                        <div class="precios">$70.500</div>
                        <div class="descuentos">10% OFF</div>
                        <div class="descripcion">Samsung Galaxy S10</div>                   
                    </div>
                    </div>
                    <div class="articulo">
                    <img class="articulo-imagen" src="static/images/img-tv-samsung-smart.jpg">
                    <div class="articulo-informacion">
                        <div class="articulo-logo-envio">
                            <i class="fa fa-truck"></i>
                        </div>
                        <div class="precios">$23.200</div>
                        <div class="descuentos">5% OFF</div>
                        <div class="descripcion">SmartTv Samsung 43"</div>                   
                    </div>
                    </div>
                </div>
            </div>
            <section>
                <div class="seccion-titulo"><h2>Ofertas</h2></div>
                <div class="contenedor">
                    <div class="articulo">
                    <img class="articulo-imagen" src="static/images/img-cafetera-moulinex.jpg">                    
                    <div class="articulo-informacion">
                        <div class="articulo-logo-envio">
                            <i class="fa fa-truck"></i>
                        </div>
                        <div class="precios">$6.770</div>
                        <div class="descuentos">40% OFF</div>
                        <div class="descripcion">Cafetera Moulinex</div>                   
                    </div>
                </div>
                <div class="articulo">
                    <img class="articulo-imagen" src="static/images/img-macbook-pro-2019.jpg">
                    <div class="articulo-informacion">
                        <div class="articulo-logo-envio">
                            <i class="fa fa-truck"></i>
                        </div>
                        <div class="precios">$230.000</div>
                        <div class="descuentos">20% off</div>
                        <div class="descripcion">MacBook Pro 2019</div>                   
                    </div>                    
                </div>
                <div class="articulo">
                    <img class="articulo-imagen" src="static/images/img-samsung-galaxy-s10.jpg">
                    <div class="articulo-informacion">
                        <div class="articulo-logo-envio">
                            <i class="fa fa-truck"></i>
                        </div>
                    
                        <div class="precios">$70.500</div>
                        <div class="descuentos">10% OFF</div>
                        <div class="descripcion">Samsung Galaxy S10</div>                   
                    </div>
                </div>
                <div class="articulo">
                    <img class="articulo-imagen" src="static/images/img-tv-samsung-smart.jpg">
                    <div class="articulo-informacion">
                        <div class="articulo-logo-envio">
                            <i class="fa fa-truck"></i>
                        </div>
                    
                        <div class="precios">$23.200</div>
                        <div class="descuentos">5% OFF</div>
                        <div class="descripcion">SmartTv Samsung 43"</div>                   
                    </div>
                </div>
            </div>
            </section>
        </main>
        <footer>
            <div class="pie">
                <div class="footer-item">
                    <p class="icono-footer"><i class="fa fa-credit-card"></i></p>
                    <p class="titulo-footer">Pagá con tarjeta o en efectivo</p>
                    <p class="texto-footer">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en 7 puntos de pago. ¡Y siempre es seguro!</p>
                </div>
                <div class="footer-item">
                    <p class="icono-footer"><i class="fa fa-gift"></i></p>
                    <p class="titulo-footer">Envío gratis desde $ 2.500</p>
                    <p class="texto-footer">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
                </div>
                <div class="footer-item">
                    <p class="icono-footer"><i class="fa fa-user-shield"></i></p>
                    <p class="titulo-footer">Seguridad, de principio a fin</p>
                    <p class="texto-footer">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
                </div>
            <div class="copy">
                <h5>Copyright © 1999-2020 MercadoLiebre S.R.L.</h5
            ></div>
        </div>
        </footer>

    </body>
</html>
