<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Mercado Liebre - Registro </title>
        <link rel="stylesheet" href="static/css/styles.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link rel="stylesheet"
href=" https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css ">
    </head>
    <body>
        <header class="header">
            <div class="header-1">                            
                <img src="static/images/logo-mercado-liebre.svg" class="logo-img">                
                <div class="serchbar">
                <input type="search" id="name" name="name" required
                    minlength="4" maxlength="15" size="20" value="Buscar productos, marcas">                     
                </div>
                <h2 class="lema-texto">
                    <i class="fa fa-hand-holding-usd"></i>
                    Compra en cuotas y sin tajeta de crédito
                </h2>
                </div>
                <div class = "burger-menu">
                    <i class = "fa fa-2x fa-bars burger" ></i>
                </div>
            <div class="header-2">            
                <ul class="navbar">
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
                <ul class="loginbar">
                    <li><a href="/registro">Crea tu cuenta </a> <i class="fa fa-id-card"></i></li>
                    <li><a href="/login">Ingresá </a><i class="fa fa-sign-in-alt"></i></li>
                    <li><a href="#">Mis Compras </a><i class="fa fa-shopping-basket"></i></li>
                </ul>            
            </div>
           
        
        </header>
        <main>
            <div class="form-registro">
            <form action="/registro" method="POST">
                <div class="input">
                    <input type="text" class="text" name="nombre" minlength="5" placeholder="Nombre y apellido" required>
                </div>
                <div class="input">
                    <input type="text" class="text" name="usuario" placeholder="Nombre de usuario" required>
                </div>
                <div class="input">
                    <input type="email"  class="text" name="email" placeholder="E-mail">
                </div>
                <div class="input">
                    <label for="fechanacimiento"><h2 class="titulo-formuario">Fecha de nacimiento</h2></label>
                    <br>
                    <input type="date" name="fechanacimiento" placeholder="Ingrese su fecha de nacimiento">
                </div>
                <div class="input">
                    <input type="text" name="domicilio" placeholder="Domicilio">
                </div>

                <div class="input">
                    <label for="perfil"><h2 class="titulo-formuario">Perfil del usuario</h2></label>
                    <br>
                    <input type="radio" name="sexo">
                    <label for="perfil">Comprador</label>
                    <input type="radio" name="sexo">
                    <label for="perfil">Vendedor</label>
                </div>
                <div class="intereses">
        
                <div class="intput">
                    <label for="perfil"><h2 class="titulo-formuario">Intereses</h2></label>
                    <input type="checkbox" name="intereses" value="Electro">
                    <label for="intereses">Electro</label>
                     
                    <br>
                    <input type="checkbox" name="intereses" value="Moda">
                    <label for="intereses">Moda</label>
                    
                    <br>
                    <input type="checkbox" name="intereses" value="Hogar">
                    <label for="intereses">Hogar</label>
                    
                    <br>
                    <input type="checkbox" name="intereses" value="Jugueteria">
                    <label for="intereses">Jugueteria</label>
                    
                    <br>
                    <input type="checkbox" name="intereses" value="Vida sana">
                    <label for="intereses">Vida sana</label>
                    
                    <br>
                    <input type="checkbox" name="intereses" value="Vida sana">
                    <label for="intereses">Vida sana</label>
                    
                </div> 
            </div>
                <div class="intput">
                    <label for="identificacion">Foto de usuario</label>
                <input type="file" name="identificacion">
                </div>      
                <div class="input">
                    <input type="password" class="text" name="password" placeholder="Elige tu contraseña">
                    <input type="password" class="text" name="re-password" placeholder="Confirma tu contraseña">
                </div>
                <div class="input">
                    <input type="reset" class="boton-enviar" value="Borrar">
                    <input type="submit" value="Enviar">
                </div>
            </div>            
            </form>
            
        </main>
        <footer>
            <div class="pie">
                <div class="footer-item">
                    <p class="icono-footer"><i class="fa fa-credit-card"></i></p>
                    <p class="titulo-footer">Pagá con tarjeta o en efectivo</p>
                    <p class="texto-footer">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en 7 puntos de pago. ¡Y siempre es seguro!</p>
                </div>
                <div class="footer-item">
                    <p class="icono-footer"><i class="fa fa-gift"></i></p>
                    <p class="titulo-footer">Envío gratis desde $ 2.500</p>
                    <p class="texto-footer">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
                </div>
                <div class="footer-item">
                    <p class="icono-footer"><i class="fa fa-user-shield"></i></p>
                    <p class="titulo-footer">Seguridad, de principio a fin</p>
                    <p class="texto-footer">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
                </div>
            <div class="copy">
                <h5>Copyright © 1999-2020 MercadoLiebre S.R.L.</h5
            ></div>
        </div>
        </footer>

    </body>
</html>
